/target
/.please
**/*.profraw
**/*.profdata
test_project/
examples/basic/
examples/showcase/.please/
examples/showcase/artifacts/
examples/showcase/backend/target/
examples/showcase/frontend/dist/
examples/showcase/frontend/node_modules/
dumper.sh
examples/**/.please/
examples/**/dist/
examples/**/build/
examples/**/target/
examples/**/node_modules/
